.formContainer{
    width: fit-content;
    background-color: #262526;
    border-radius: 10px;
    border: 2px solid #d8cd90;
    display: flex;
    flex-direction: column;
    padding: 3% 2%;
    align-items: center;
}

.formBody{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    position: relative;
}

  .formBody::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/barbershop.jpg');
    filter: blur(5px) brightness(75%); /* replace with your desired filter */
    z-index: -1;
    background-size: cover;
  }

  @media only screen and (max-width: 640px) {
    .formBody::before {
        background-image: url('/Background-Long.jpg');
      }
  }
  