/* Button.module.css */
.button {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background: none;
    transition: .2s;
    font-size: 22px;
  }



  .button:hover p{
    color: #d8cd90;
    transition: .2s;
  }
  
  .primary {
    background-color: #0070f3;
    color: white;
  }
  