.container{
    display: flex;
    flex-direction: column;
    padding: 1% 0 1% 3%;
    width: 100%;
    background-color: #262626;
    outline: none;
    color: white;
    border-radius: 10px;
    margin-bottom: 1%;
    border: 1px solid #262626;
    transition: .2s;
}

.subtitleContainer{
    display: flex;
    width: 100%;
}

.container:hover{
    cursor: pointer;
    border: 1px solid #d8cd90;
    transition: .2s;
}

@media only screen and (max-width: 640px) {
    .container{
        padding: 3% 7% 3% 7%;
    }
    
}

@media only screen and (max-width: 475px) {
    .container{
        padding: 5% 10% 5% 10%;
    }
    
}