.contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts p{
    margin: 1% 3% 1% 3%;
    color: white;
    white-space: nowrap;
}

.contactContainer{
    border-left: none;
    border-right: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 5% 0 5% 0;
    background-color: #262626;
    box-shadow: 0px 11px 18px 0px rgba(0, 0, 0, 0.35) inset;
}

.contactContainer iframe{
    margin: 2% 0 0 0;
    border-radius: 10px;
    border: 2px solid #d8cd90;
}

@media only screen and (max-width: 640px) {
    .contacts{
        flex-direction: column;
    }
}